* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightcoral;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 900px;
    height: 325px;
    border-radius: 20px;
    display: flex;
}

.article-picture img{
    height: 325px;
}

.article {
    padding: 1.5rem;
}

.article-heading {
    font-size: 22px;
    color: hsl(217, 19%, 35%);
}

.article-text {
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
    color: hsl(217, 19%, 35%);
}

.user {
    display: flex;
    margin-top: 20px;
}

.user__share.container {
    margin-left: auto;
    height: 50px;
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    
    margin-right: 5px;
    cursor: pointer;
   
}

.user__user {
    margin-left: 10px;
    color: hsl(217, 19%, 35%);
    font-size: 14px;
}
.user__user__name {
    font-weight: 700;
}
.user__photo img {
   height: 50px;
   border-radius: 50%;
}

.hidden {
    display: none;
}

.filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}